<!--
<button onclick="showContent()">Show hidden content</button>

<template>
  <h2>Flower</h2>
  <img src="img_white_flower.jpg" width="214" height="204">
</template>

<script>
function showContent() {
  var temp = document.getElementsByTagName("template")[0];
  var clon = temp.content.cloneNode(true);
  document.body.appendChild(clon);
}
</script>

-->
<template>
    <div class="cardItems">
  <h1>ProjectName:</h1>
  <h3>Tag for my CV</h3>
  <h3>Date of Project</h3>
  <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere saepe maxime similique in quas tempora accusantium itaque, repudiandae neque accusamus blanditiis ab iste odio, eius deleniti porro molestias dolorem non

  </p>
  <video src="../../Assets/study-in.de.mp4"></video>
</div>
</template>
<template>

 <div class="pageItems" onclick="pageHandler(this)"></div>

</template>
<script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>
<script src="../../Sources/Pages/MainScript.js"></script>
<script src="../../Sources/Pages/jqueryCodes.js"